*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; 
}
body{
    background-image: url("../img/17.jpg");
    background-size: cover;
    background-position: 0 1150px;
}
header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}
.cogian{
    margin: 0px auto;
    max-width: 1400px;
}
#main-header{
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-height: 70px;
}
/* logo */
#logoh1 img{
    padding-top: 10px;
    height: 110px;
    width: 230px;
}
/* end logo */
h2{
    color: white;
    margin-bottom: 40px;
}
.bt1{
    background-color: #f6e58d;
    border-radius: 5px; 
    border: #ffbe76;
    color: #174089;
    padding: 6px 10px;
    text-align: center;
    font-size: 16px;   
}
.ip1{
    border: solid 1px #f6e58d ;
    background: transparent;
    outline: none;
    padding: 5px 10px;
    height: 30px;
    border-radius: 5px;  
}
input{
    margin: 0px 15px 20px 15px;
}
.ketnoi{
    position: fixed;
}
table{
    color: white;
    border-radius: 5px;
    min-width: 1400px;
}
th{
    border: solid 1px white;
    /* border-radius: 5px; */
    padding: 10px;
}
td{
    border: solid 1px  white;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}
a{
    text-decoration: none;
    color: gold;
}
